.track-split-page {
  min-height: 100vh;
}

.map-side {
  background: url("../assets/track.jpg") center center/cover no-repeat;
  position: relative;
  color: white;
}

.map-placeholder {
  background: rgba(0, 90, 0, 0.5);
  border-radius: 1rem;
  padding: 3rem;
  width: 80%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.form-side {
  background: #f7faf7;
  color: #0f5132;
  min-height: 100vh; 
}

.form-side h1 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #14532d;
}

.form-side .form-label {
  font-weight: 600;
  color: #14532d;
}

.form-side .form-control {
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 1rem;
}

.form-side button {
  font-weight: 600;
  font-size: 1rem;
  padding: 0.75rem;
}

.status-steps {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* makes the split section wider to cover the area */
}

.status-step {
  display: flex;
  align-items: center;
  /* gap: 0.2rem; */
  font-weight: 600;
  color: #6c757d;
  font-size: 1.1rem;
  position: relative;
  transition: all 0.3s ease;
}

.status-step .step-icon {
  font-size: 1.6rem;
  color: #adb5bd;
  transition: color 0.3s, transform 0.3s;
  margin-right: 0.5rem;
  align-items: center;
  margin: 0 0 0.7rem 0 !important;
}

.status-step .step-label {
  display: flex;
  align-items: center;
}

.status-step.active {
  color: #198754;
  font-weight: 700;
}

.status-step.active .step-icon,
.status-step.completed .step-icon {
  color: #198754;
  transform: scale(1.1);
}

.status-step.completed {
  color: #198754;
}

.highlight-bar {
  position: absolute;
  height: 4px;
  width: 40px;
  background-color: #198754;
  border-radius: 2px;
  bottom: -6px;
  left: 2.4rem;
}

@media (max-width: 768px) {
  .map-placeholder {
    padding: 1.5rem;
    width: 90%;
    height: auto;
    flex-direction: column;
    font-size: 1.2rem;
  }

  .form-side {
    padding: 2rem 1.5rem !important;
    text-align: center;
  }

  .form-side h1 {
    font-size: 1.8rem;
  }

  .status-steps {
    align-items: center;
    margin-bottom: 10rem;
  }

  .status-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem; 
    font-size: 1rem;
    text-align: center;
  }

  .status-step .step-icon {
    margin: 0; 
    font-size: 1.5rem; 
  }

  .status-step .step-label {
    margin-top: 0.1rem; 
  }

  .highlight-bar {
    left: 50%;
    transform: translateX(-50%);
  }
}
